<template>
  <header class="clearfix">
    <el-button type="success" @click="showAlert"><svg-icon class="svg-icon" icon-class="edit" />{{$t("common.edit")}}</el-button>
    <Common :message="hello" @onCallback="callback"></Common>
  </header>
  <section class="container" >
    <section class="content">
    <section class="content-left">
      <section class="index-find">
        <section class="index-title">{{$t("test.find")}}</section>
        <v-chart
        ref="chart1"
      class="chart"
      :option="option"
      style="width: 100%;height:100%"
    />
      </section>
    </section>
    <section class="content-right">
      <section class="index-protect">
        <section class="index-title">{{$t("test.protect")}}</section>
        <v-chart
        ref="chart2"
        class="chart"
        :option="wsoption"
        style="width: 100%;height:100%"
      />
      </section>
    </section> 
    </section>   
    <section style="margin-top: 20px;" v-permission="'reportlog_report_performexport1'">局部权限控制</section>
  </section>
  
  <!-- <el-calendar v-model="value" /> -->
</template>
<script setup>
import { ref,getCurrentInstance,onMounted,onBeforeUnmount,computed, reactive } from "vue";
import { useStore } from "vuex";
const store = useStore();
import testMixin from "/@/mixins"
import Common from "/@/components/header"
import {  ElMessageBox ,ElMessage } from 'element-plus'
import i18n from "/@/lang";
import { converSize } from "/@/utils/format";

const {count,double,increment} = testMixin()
console.log('mixin',count.value,double.value)
increment()

const { proxy } = getCurrentInstance()

const ws_prefix = computed(() => store.state.app.ws_prefix);
console.log(ws_prefix.value);
let socket = ref(null);
let socketData= ref({
    event: "HOME_PAGE_RUNTIME_EVENT",
    eventType: "FIRE",
})
// 测试组件传值
const hello = "你好";
const callback = msg => {
  console.log(msg);
}
// const  value = ref(new Date())
console.log(proxy);
// 测试elem 提示
const showAlert = ()=>{
  proxy.$alert("你好",proxy.$t("common.tip"))
};
// mixin.hello()
// echarts option
const option = ref({
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data: [820, 932, 901, 934, 1290, 1330, 1320],
      type: 'line',
      areaStyle: {}
    }
  ]
});
let dataT = reactive([]);
let dataV = reactive([]);
const wsoption = reactive({
        title: {
          text: "",
          textStyle: {
            color: "#999",
            fontWeight: "normal",
            fontSize: 16,
          },
        },
        grid: {
          top: 40,
          left: -40,
          right: 0,
          bottom: 30,
        },
        tooltip: {
          trigger: "axis",
          formatter: function (v) {
            if (v[0].data === "") {
              res = "";
            } else {
              var res = v[0].name + "<br/>";
              res += '<span class="blue">' + converSize(v[0].data) + "</span>";
            }
            return res;
          },
          backgroundColor: "rgba(255,255,255,0.9)",
          textStyle: {
            color: "#8F9BB0",
            fontSize: 12,
          },
          extraCssText: "z-index:18999",
        },
        yAxis: {
          type: "value",
          scale: true,
          splitLine: {
            show: false,
          },
        },
        xAxis: {
          axisLine: {
            lineStyle: {
              color: "#EEE",
            },
          },
          axisTick: {
            show: false,
          },
          axisLabel: {
            interval: 30,
            color: "#CCC",
          },
          axisPointer: {
            lineStyle: {
              opacity: 0.5,
            },
          },
          data: dataT, //时间
        },
        series: {
          type: "line",
          showSymbol: false,
          smooth: true,
          lineStyle: {
            width: 1,
            opacity: 0.2,
          },
          areaStyle: {
            opacity: 0.1,
          },
          emphasis: {
            lineStyle: {
              width: 1,
              opacity: 0.5,
            },
          },
          data: dataV, //速率
        },
      })
// 响应式echart
const resizeChart = ()=>{
  proxy.$refs.chart1.resize()
  proxy.$refs.chart2.resize()
} 
// 初始化socket
const initSocket = ()=>{
  socket = new WebSocket(ws_prefix.value + "homePageRuntimeMonitor");
  socket.onopen = () => {
    socket.send(JSON.stringify(socketData));
  };
  socket.onmessage = (data) => {
    onpush(data);
  };
  socket.onerror = () => {
    console.log("概览socket出错");
  };
  socket.onclose = () => {
    console.log("概览socket关闭");
  };
}
// 接收推送
const onpush = res=>{
  let data = JSON.parse(res.data).runtimeInfo.totalData;
    console.log("推送实时流量数据", data)
  let date = proxy.$moment().format("HH:mm:ss");
  data += Math.random()*1024;
  dataT.shift();
  dataV.shift();
  dataT.push(date);
  dataV.push(data);
  // currentT = date;
  // currentV = converSize(data);
  // wsoption.xAxis.data = dataT;
  // wsoption.series.data = dataV;
}
onMounted(()=>{
  //初始化
  for (var i = 0; i < 200; i++) {
    dataT.push("");
    dataV.push("");
  }
  initSocket()
  window.addEventListener("resize", resizeChart)
})
onBeforeUnmount(()=>{
  socket.close()
  window.removeEventListener("resize", resizeChart)
})
</script>

<style lang="scss">
  .content-left{
    flex: 1;
    padding-right: 10px;
    
  }
  .content-right{
    flex: 1;
    padding-left: 10px;
  }
  .index-find,.index-protect{
      background-color: $white;
      height: 330px;
      border-radius: 5px;
      padding: 24px;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      .index-title{
        font-size: 18px;
        line-height: 36px;
        font-weight: 700;
        color:$gray;
      }
  }
</style>