<template>
  <header class="clearfix">
    <Common ></Common>
  </header>
  <section class="container">{{$t("test.file")}}</section>
</template>

<script setup>
import Common from "/@/components/header"
</script>

<style lang="scss" scoped>

</style>