<template>
  <header class="clearfix">
    <Common></Common>
  </header>
  <section class="container">{{$t("test.image")}}<Vnc></Vnc></section>
  
</template>
<script setup>
import Common from "/@/components/header";
import Vnc from "/@/components/vnc";
</script>

<style lang="scss" scoped>

</style>