<template>
  <div @click="test" class="header-right">
    
    <span class="cs-right logout" @click="logout">{{ $t("common.exit") }}</span>
    <span class="cs-right">{{ userName }}</span>
    <span class="user-icon cs-right">{{
      userName.substring(0, 1).toUpperCase()
    }}</span>
    <svg-icon class="svg-icon cs-right" icon-class="question" />
    <svg-icon class="svg-icon cs-right" icon-class="message" />
    <el-dropdown trigger="click" class="changeLang" @command="changeLang">
      <div class="el-dropdown-link" >
        {{currentLang}}
        <el-icon class="el-icon--right">
          <arrow-down />
        </el-icon>
      </div>
      <template #dropdown>
        <el-dropdown-menu>
          <el-dropdown-item v-for="item in languages" :key="item.code" :disabled="item.code==language" :command="item.code" >{{item.name}}</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
  </div>
</template>

<script setup>
import { ref,computed,reactive,getCurrentInstance} from "vue"
import { useStore } from "vuex";
import {changeFav} from "/@/api/user";
const { proxy } = getCurrentInstance()
const store = useStore();
const userName = computed(() => store.state.user.userName);
const userId = computed(() => store.state.user.userId);
const language = computed(() => store.state.app.language);
// console.log(language.value);
const languages = reactive([
  {
    code:"zh_CN",
    name:"简体中文"
  },
  {
    code:"zh_TW",
    name:"繁体中文"
  },
  {
    code:"en_US",
    name:"English"
  }
])
const currentLang = ref(languages.find(item=>item.code==language.value).name);
// console.log(userName);
const changeLang = command=>{  
  let langCode = languages.findIndex(item=>item.code==command)+1;
  console.log(langCode);
  changeFav({
    userId:userId.value,
    language:langCode
  }).then(res=>{
    console.log(res);
    if(res.success){
      window.location.reload();
    }
  })
}
const logout = ()=>{
  proxy.$router.push("/login")
}
const props = defineProps({
  message: String,
  default: ""
})
// const curLang = 
const emit = defineEmits(['on-callback'])
const test = () => {
  emit("on-callback", props['message'] + " " + userName.value)
}
</script>

<style lang="scss" scoped>
</style>