<template>
  <el-config-provider :locale="locale">
    <router-view />
  </el-config-provider>
</template>
<script setup>
/*
* Element Plus 还提供了一个 Vue 组件 ConfigProvider 用于全局配置国际化的设置。
* https://element-plus.gitee.io/zh-CN/guide/i18n.html#configprovider
*/ 
import epLang from "/@/lang/epLang";
const locale = epLang;
</script>

<style lang="scss" scoped>
</style>